/* Hide 'View page source' link by href */
a[href="_sources/index.rst.txt"] {
    display: none !important;
}


/* Make the sidebar scroll container a flex column */
.wy-side-scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Push the Ethical Ads box to the bottom */
.rst-ethical-sidebar {
    margin-top: auto;
}
