/* Hide 'View page source' link by href */
a[href="_sources/index.rst.txt"] {
    display: none !important;
}


/* Move Ethical Ads to the bottom of the sidebar */
.rst-ethical-sidebar {
    margin-top: 300px;  /* Adds spacing above */
    position: static;    /* or just remove 'position' property */
}
