/* Hide 'View page source' link by href */
a[href="_sources/index.rst.txt"] {
    display: none !important;
}


/* Make sidebar scroll area fill full height */
.wy-side-scroll {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* full viewport height */
}

/* Make text not float around figures */
/* Prevent floating for figures with class 'no-float' */
div.figure.no-float {
    float: none !important;
    display: block !important;
    clear: both !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;  /* Or center */
}
